{% extends 'basic_index.html' %}
{% block content %}
{% if user.is_admin %}
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>Add who’s new</p>
            <h2>ADD ARTISTS</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Add Artists</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                            <form action="Add_artist.html" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Artist Name</label>
                                    <input name="artist_name" list="artist" type="text" class="form-control" id="" placeholder="Artist">
                                    <datalist name="artist_name" id="artist">
                                        {% for artist in artists%}
                                        <option value="{{artist.artist}}">{{artist.artist}}</option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Image</label>
                                    <input name="artistimage" type="file" class="form-control" accept="image" id="Image" placeholder="Image" />
                                </div>
                                <button type="submit" class="btn oneMusic-btn mt-30">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ##### Login Area End ##### -->
    {% endif %}
{% endblock %}