{% extends 'basic_index.html' %}
{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p></p>
            <h2>Password</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Change Password</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                            {% if user.is_authenticated %}
                            <form action="/Change_Password.html" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Old Password</label>
                                    <input name="old_pass" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Old Password" >
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">New Password</label>
                                    <input name="new_pass" type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Confirm Password</label>
                                    <input name="confirm_new_pass" type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                                </div>
                                <button type="submit" class="btn oneMusic-btn mt-30">Submit</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ##### Login Area End ##### -->
{% endblock %}