{% extends 'basic_index.html' %}
{% block content %}
    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(./static/img/bg-img/bg-1.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Latest album</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">Beyond Time <span>Beyond Time</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="albums-store.html" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(./static/img/bg-img/bg-2.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Latest album</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">Music Is Life <span>Music Is Life</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="albums-store.html" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Latest Albums Area Start ##### -->
    <section class="latest-albums-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <p style="font-size: xx-large;">See what’s new</p>
                        <h2>Artists</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9">
                    <div class="ablums-text text-center mb-70">
                        <p style="font-size: large;font-style: oblique;">Here you can listen to latest albums and songs. Listen to your favourite artist's songs and daily updates of most viral tracks on Volubeats. Music that keeps you awake.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div  class="albums-slideshow owl-carousel">
                        <!-- Single Album -->
                        {% if artists %}
                        {% for artist in artists %}
                        <div  class="single-album">
                            <img style="height: 200px;width: 200px;" src="/media/{{artist.image}}" alt="{{artist.artist}}">
                            <div class="album-info">
                                
                                <!-- <a id="artist" onclick="searchsongs('{{artist.artist}}'); return false;" href="">    
                                    <h5 id="artist_name">{{artist.artist}}</h5>
                                    <input type="hidden" name="artist_search" value="{{artist.artist}}">
                                </a> -->
                                
                                <a id="artist"  href="/albums-store/{{artist.artist}}">    
                                    <h5 id="artist_name">{{artist.artist}}</h5>
                                    
                                </a>
                                <!-- <p>Second Song</p> -->
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Latest Albums Area End ##### -->

    

    <!-- ##### Featured Artist Area Start ##### -->
    <section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed" style="background-image: url(img/bg-img/bg-4.jpg);">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="featured-artist-thumb">
                        <img src="./static/img/bg-img/fa.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="featured-artist-content">
                        <!-- Section Heading -->
                        <div class="section-heading white text-left mb-30">
                            <!-- <p>See what’s new</p> -->
                            <h2>See what’s new</h2>
                        </div>
                        <p>All Music's moods are adjectives that describe the sound and feel of a song, album, or overall body of work. In moments of destabilizing uncertainty, it's good to find music that can cover you like a heavy blanket and offer a reminder that good times happened before and will happen again.</p>
                        
                        <div >
                        {% if song %}
                        <div  class="song-play-area">
                            <div class="song-name">
                                <p>{{song.song_title}}</p>
                            </div>
                            <audio preload="auto" controls>
                                <source src="./media/{{song.song_path}}">
                            </audio>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Featured Artist Area End ##### -->

    <!-- ##### Miscellaneous Area Start ##### -->
    <section id="miscellaneous" class="miscellaneous-area section-padding-100-0">
        <div class="container">
            <div class="row">
                

                <!-- ***** New Hits Songs ***** -->
                <div class="col-18 col-lg-8">
                    <div class="new-hits-area mb-100">
                        
                        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                            <p>See what’s new</p>
                            <h2>New Hits</h2>
                        </div>

                        <!-- Single Top Item -->
                        {% if new_hits %}
                        {% for new in new_hits %}
                        <!-- <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms"> -->
                            <div style="background-color: white;height: 125px;"  class="song-play-area">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="./media/" alt="">
                                </div>
                                <div class="content-">
                                    <!-- <h6>{{new.artist}}</h6> -->
                                    <p>{{new.song_title}}</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="./media/{{new.song_path}}">
                            </audio>
                        </div>
                        {% endfor %}
                        {% endif %}
                        
                    </div>
                </div>

                <!-- ***** Popular Artists ***** -->
                <div class="col-12 col-lg-4">
                    <div class="popular-artists-area mb-100">
                        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                            <p>See what’s new</p>
                            <h2>Popular Artist</h2>
                        </div>

                        <!-- Single Artist -->
                        {% if popular_artist %}
                        {% for popular in popular_artist %}
                        <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                            <div class="thumbnail">
                                <img style="max-width:63px; width:63px;height:47px" src="./media/{{popular.image}}" alt="">
                            </div>
                            <div class="content-">
                                <a href="/albums-store/{{popular.artist}}">
                                    <!-- <h5>{{artist.artist}}</h5> -->
                                    <p>{{popular.artist}}</p>
                                </a>
                                
                            </div>
                        </div>


                        {% endfor %}
                        {% endif %}

                        

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Miscellaneous Area End ##### -->


    <!-- <script type="text/javascript">
        var myaudio=document.getElementById('audio');
        myaudio.oncanplaythrough=function(){this.play();}
    </script> -->
    {% endblock %}
